<template>
  <b-container id="app">
    <b-tabs id="app-tabs" v-model="tabIndex">
      <b-tab title="Basic info">
        <centered-card>
          <user-details ref="userDetails" v-model="user.basic"/>
          <b-button
                  class="next-button"
                  variant="primary"
                  :disabled="isTabDisabled(1)"
                  @click="tabIndex = 1">
            Next
          </b-button>
        </centered-card>
      </b-tab>
      <b-tab title="Your skills" :disabled="isTabDisabled(1)">
        <centered-card>
          <skill-selector v-model="user.skillSet" />
          <b-button
                  class="next-button"
                  variant="primary"
                  :disabled="isTabDisabled(2)"
                  @click="tabIndex = 2">
            Next
          </b-button>
        </centered-card>
      </b-tab>
      <b-tab title="Requests" :disabled="isTabDisabled(2)" lazy>
        <centered-card>
          <requests :skill-set="user.skillSet"></requests>
        </centered-card>

      </b-tab>
    </b-tabs>

  </b-container>
</template>

<script>

  import CenteredCard from "./components/templating/CenteredCard";
  import UserDetails from "./components/intro/UserDetails";
  import SkillSelector from "./components/intro/skills/SkillSelector";
  import Requests from "./components/requests/Requests";

  export default {
    name: 'App',
    components: {
      CenteredCard,
      UserDetails,
      SkillSelector,
      Requests
    },
    data() {
      return {
        tabIndex: 0,
        user: {
          basic: null,
          skillSet: null
        }
      }
    },
    methods: {
      isTabDisabled(tab) {
        switch(tab) {
          case 0:
            return false;
          case 1:
            return !this.user.basic;
          case 2:
            return this.isTabDisabled(1) || !this.user.skillSet;
          default:
            return true;
        }
      }
    }
  }
</script>

<style lang="scss">
  @import '@/assets/sass/base';
</style>
