<template>
    <div class="skill-item-button">
        <span class="skill">{{skill}}</span>
        <span class="experience">{{experience}}</span>
        <div class="remove-skill-item-overlay" @click="remove">&#215;</div>
    </div>
</template>

<script>
    export default {
      name: "SkillItem",
      props: {
        skill: {
          type: String
        },
        experience: {
            type: Number
        },
        index: {
          type: Number
        }
      },
      methods: {
        remove() {
          this.$emit("remove", this.index);
        }
      }
    }
</script>