<template>
    <div id="skill-selector-container">

        <h2>Choose at least three skills and tell us your level of experience</h2>

        <div class="skill-cloud clearfix">
            <skill-item v-for="(skill, idx) in selectedSkills"
                        :key="skill"
                        :index="idx"
                        :skill="skill"
                        :experience="skillSet.getExperience(skill)"
                        @remove="removeSkill"/>
        </div>


        <b-row id="skill-adder-container">
            <b-col cols="6">
                <b-form-select v-model="input.selectedSkill" :options="availableSkills" >
                    <template v-slot:first>
                        <b-form-select-option :value="null" disabled>-- Select a skill --</b-form-select-option>
                    </template>
                </b-form-select>
            </b-col>
            <b-col cols="3">
                <b-form-select v-model="input.experienceInput" :options="experienceRange" type="number"></b-form-select>
            </b-col>
            <b-col cols="3">
                <b-button variant="outline-success" :disabled="!isNewSkillFilled" @click="addSkill">Add</b-button>
            </b-col>
        </b-row>

    </div>
</template>

<script>

  import * as _ from 'lodash';

  const AVAILABLE_SKILLS = ["marketing", "communication",
    "devops", "Project Management", "Logistics", "Budgeting",
    "Sysops", "Sales", "Recruitment", "Graphical Design"];

  const MIN_EXPERIENCE = 1;
  const MAX_EXPERIENCE = 10;
  const EXPERIENCE_RANGE = _.range(MIN_EXPERIENCE, MAX_EXPERIENCE + 1);

  const MIN_SKILLS_SELECTED = 3;

  import SkillSet from "../../../data/SkillSet";
  import SkillItem from "./SkillItem";

  export default {
    name: "SkillSelector",
    components: {
      SkillItem
    },
    props: {
      value: {
        type: Object
      }
    },
    data() {
      return {
        skillSet: null,
        selectedSkills: [],
        availableSkills: [],
        input: {
          selectedSkill: null,
          experienceInput: EXPERIENCE_RANGE[0]
        },
        experienceRange: EXPERIENCE_RANGE
      }
    },
    created () {
      if(this.value)
        this.skillSet = this.value;
      else
        this.skillSet = new SkillSet();

      this.resetSkillArray();
    },
    computed: {
      isNewSkillFilled() {
        return this.input.selectedSkill && this.input.experienceInput;
      }
    },
    methods: {
      emitInput() {
        if(this.isMinimumSkillsFilled())
              this.$emit("input", this.skillSet);
        else
              this.$emit("input", null);
      },
      isMinimumSkillsFilled() {
        return this.selectedSkills.length >= MIN_SKILLS_SELECTED;
      },
      resetSkillArray() {
        this.selectedSkills = this.skillSet.getSkills();
        let availableSkills = [];
        for(let i = 0; i < AVAILABLE_SKILLS.length; i++)
          if(!this.skillSet.hasSkill(AVAILABLE_SKILLS[i]))
            availableSkills.push(AVAILABLE_SKILLS[i]);

        this.availableSkills = availableSkills;
      },
      resetAddSkillUi() {
        this.input.selectedSkill = null;
        this.input.experienceInput = EXPERIENCE_RANGE[0];
      },
      addSkill() {
        this.skillSet.addSkill(this.input.selectedSkill, this.input.experienceInput);
        this.selectedSkills.push(this.input.selectedSkill);
        this.availableSkills.splice(this.availableSkills.indexOf(this.input.selectedSkill), 1);
        this.resetAddSkillUi();
        this.emitInput();
      },
      removeSkill(idx) {
        let skill = this.selectedSkills[idx];
        this.skillSet.removeSkill(skill);
        this.selectedSkills.splice(idx, 1);
        this.availableSkills.push(skill);
        this.emitInput();
      }
    }
  }
</script>