<template>
    <b-card>
        <b-row align-h="center">
            <b-col xs="12" md="6">
                <slot></slot>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
    export default {
      name: "CenteredCard"
    }
</script>