<template>
    <div class="request-line">
        <b-row>
            <b-col cols="8">
                <h3 style="display: inline-block">{{request.title}}</h3>

                <p><b>Description:</b> {{request.description}}</p>
                <p><b>Skills:</b> {{request.skills.join(", ")}}</p>
                <b-row>
                    <b-col cols="6">
                        Start Date: {{request.startDate}}
                    </b-col>
                    <b-col cols="6">
                        End Date: {{request.endDate}}
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="4">
                <b-form-radio-group
                        v-model="selected"
                        :options="options"
                        buttons
                        button-variant="outline-info"
                        @change="select"
                        size="sm"
                        :disabled="disabled"
                ></b-form-radio-group>
                <p class="date-taken-warning" v-if="disabled">You accepted another request for this day</p>
            </b-col>
        </b-row>

    </div>
</template>


<script>
  export default {
    name: "RequestLine",
    components: {

    },
    props: {
      request: {
        type: Object,
        mandatory: true
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        selected: null,
        options: [
          {
            text: "Accept",
            value: true,
            variant: "success"
          },
          {
            text: "Decline",
            value: false,
            variant: "danger"
          }
        ]
      }
    },
    methods: {
      select(val) {
        if(val)
          this.$emit("accepted", this.request);
        else
          this.$emit("declined", this.request);
      }
    }
  }
</script>