<template>
    <div>
        <request-line v-for="request in requests"
                      :request="request"
                      @accepted="acceptedRequest"
                      @declined="declinedRequest"
                      :key="request.id"
                      :disabled="isRequestDisabled(request)" />
    </div>
</template>


<script>
  import RequestLine from "./RequestLine";
  import requestUtils from "../../mixins/requestUtils";
  import * as _ from 'lodash';

  export default {
    name: "Request",
    components: {
      RequestLine
    },
    mixins: [
      requestUtils
    ],
    props: {
      skillSet: {
        type: Object,
        mandatory: true
      }
    },
    data() {
      return {
        requests: null,
        //Accepted and declined requests are stored as objects for fast lookup via date and id. When pushing request
        //  responses to server, these two would have to be transformed into something, for instance, like this:
        //  {accepted: [<ids>], declined: [<ids>]}
        acceptedByStartDate: {},
        declinedById: {}
      }
    },
    created() {
      this.loadRequests()
          .then(() => this.loadUserRequestResponses);
    },
    methods: {
      loadRequests() {
        let url = "/requests?" + this.skillSet.encodeSkillsURI();
        return this.requests = window.axios.get(url)
            .then(res => {
              this.requests = _.orderBy(res.data, "startDate");
            })
            .catch(() => {
              this.$bvToast.toast('There was an error fetching requests', {
                title: "Error",
                variant: "danger",
                solid: true
              })
            })
      },
      loadUserRequestResponses() {
        //Placeholder function. This function would load the requests a user already answered to.
        //This function would populate *acceptedByStartDate* and *declinedById*
      },
      acceptedRequest(request) {
        //This method could have not been triggered if a conflict existed. Therefore, we simply set it
        this.$set(this.acceptedByStartDate, request.startDate, request);
        //In case this request had been declined before
        if(request.id in this.declinedById)
          this.$delete(this.declinedById, request.id);
      },
      declinedRequest(request) {
        this.$set(this.declinedById, request.id, request);

        //If this request had been accepted before, we remove it
        if(request.startDate in this.acceptedByStartDate && this.acceptedByStartDate[request.startDate].id === request.id)
          this.$delete(this.acceptedByStartDate, request.startDate);
      },
      isRequestDisabled(request) {
        return request.startDate in this.acceptedByStartDate && this.acceptedByStartDate[request.startDate].id !== request.id;
      },
      //Useful for local development, as it has same behavior as /api/requests endpoint
      getDummyRequests() {
        return this.generateRequests(this.skillSet.getSkills());
      }
    }

  }
</script>