
.request-line {
  margin-top: 24px;
  border-bottom: 1px solid #80808075;
  padding-bottom: 20px;

  &:last-of-type {
    border-bottom: none;
  }

  .date-taken-warning {
    font-size: 10px;
    margin-top: 4px;
  }
}
