.skill-item-button {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-top: 6px;
  border: 1px solid #80808080;
  padding: 1px 5px;
  border-radius: 6px;
  font-size: 12px;

  .remove-skill-item-overlay {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ee0000b0;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
  }

  &:hover {
      .remove-skill-item-overlay {
        display: block;
      }
    }

  .experience {
    margin-left: 8px;
    color: #37aa8f;
  }

}

#skill-adder-container {
  margin-top: 20px;
}