<template>
    <div id="user-details-container" v-if="innerValue">

        <h2>Tell us a bit about yourself</h2>

        <div style="margin-top: 20px">
            <b-form-group
                    label-cols-sm="3"
                    label-cols-lg="2"
                    description="Let us know your name."
                    label="Name"
                    label-for="input-horizontal"
            >
                <b-form-input v-model="innerValue.name"></b-form-input>
            </b-form-group>
            <b-form-group
                    label-cols-sm="3"
                    label-cols-lg="2"
                    description="Let us know your age."
                    label="Age"
                    label-for="input-horizontal"
            >
                <b-form-input v-model="innerValue.age" type="number"></b-form-input>
            </b-form-group>
        </div>

    </div>
</template>

<script>
  const DEFAULT_VALUE = {
    name: null,
    picture: null,
    age: null,
  }

  export default {
    name: "userDetails",
    props: {
      value: {
        type: Object,
        mandatory: true
      }
    },
    data() {
      return {
        innerValue: null
      }
    },
    watch: {
      innerValue: {
        deep: true,
        handler() {
          if(this.isFilled())
            this.$emit("input", this.innerValue);
          else
            this.$emit("input", null);
        }
      }
    },
    created() {
      this.innerValue = Object.assign(Object.assign({}, DEFAULT_VALUE), this.innerValue);
    },
    methods: {
      isFilled() {
        return this.innerValue.name && this.innerValue.age;
      }
    }

  }
</script>